<div id="footer-container" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div class="column address">
    <h2>Adrese poslovnica</h2>
    <p>Njegoševa 15, 11000 Beograd-Vračar</p>
    <p>Jurija Gagarina 123, 11197 Beograd-Novi Beograd</p>
    <p>Francuska 26a, 11108 Beograd-Stari Grad</p>
    <p>Vrtlarska 13, 11080 Beograd-Zemun</p>
  </div>
  <div class="column contact">
    <h2>Kontaktirajte nas</h2>
    <p>tel. 0116014502</p>
    <p>mobilni +381631546456</p>
    <p>Email: <a href="#">mmsolutions@gmail.com</a></p>
  </div>
  <div class="column copyright">
    <h2>Copyright</h2>
    <p>&copy; {{ currentYear }} Milica Bogosavljević & Miloš Jeknić.</p>
    <p>Sva prava rezervisana. Sajt nije za komercijalnu
      upotrebu.
    </p>
  </div>
</div>
