.list-items {
    list-style-type: none;
    font-size: 25px;
}

.list-items a {
    text-decoration: none;
    color: black;
}

#logo-holder {
    margin-left: 10vw;
}

.list-items a:hover, .active {
    color: orange!important;
}
