#adverts-list {
    width: max-content;
    height: max-content;
    margin-top: 40px;
}
.advert {
    width: 900px;
    height: 250px;
    margin-bottom: 50px;
}
.price-listed {
    font-weight: bold;
    font-size: 30px;
}
.additional-info {
    list-style-type: none;
    width: 250px;
}
.mandatory-info {
    font-weight: bold;
    font-size: 18px;
}
.info-area {
    margin: 30px;
}
.info {
    margin-top: 25px;
}